## 조건문

In [ ]:
# if 문 : 숫자를 입력받아 양수/음수 여부 출력
x = int(input("please enter an integer"))
if x > 0 :
  print("양수")
elif x == 0 :
  print(0)
else :
  print("음수")

please enter an integer0
0

##반복문

In [ ]:
# for 문 : 리스트 안 값을 순회하며 반복문으로 출력
words = ["배추", "무", "토마토", "사과"]
for w in words :
  print(w)

배추
무
토마토
사과

In [ ]:
# range() 함수 : 지정 안 할시 0부터 시작
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [ ]:
for i in range(1,6) : 
  print(i)

1
2
3
4
5

In [ ]:
a = ["Mary", "had", "a", "little","lamb"]
len(a)

5

In [ ]:
for i in range(len(a)) :
  print (i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [ ]:
for i, val in enumerate(a) : 
  print (i, val)

0 Mary
1 had
2 a
3 little
4 lamb

##range응용

In [ ]:
# 합계 구하기
list(range(4))

[0, 1, 2, 3]

In [ ]:
sum(range(4))

6

## 조건문과 반복문 함께 사용하기

In [ ]:
# range로 값을 순회하며 짝수는 "짝수" 홀수는 "홀수"를 출력
for i in range(1,11):
  if i%2 == 0 :
    print("짝수")
  else :
    print("홀수")

홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수

## While문

In [ ]:
# 변수의 초기값을 부여 후 특정 변수값이 되면 종료
변수 = 0

while True :
  변수 += 1
  print(변수)
  if 변수 >= 10 :
    break

1
2
3
4
5
6
7
8
9
10

## 함수

In [ ]:
# 평균을 구하는 average 함수 만들기

def average(data):
  """리스트 값을 받아 평균을 구하는 함수"""
  avg = sum(data) / len(data)
  return avg

data = range(1,11)
average(data)

5.5

In [ ]:
# sum 함수를 for문으로 직접 구현

def total_sum(num) :
  total = 0 
  for n in num : 
    total += n
  return total

num = range(1,11)
total_sum(num)

55

In [ ]:
average?

## 예제 연습 (Dictionary)

In [ ]:
# 아래 문자를 Dictionary형태로 변경 
phone = ">경기 031 >강원 033 >충남 041 >충북 043 >경북 054 >경남 055 >전남 061 >전북 063"

# split() 사용하여 '>'를 기준으로 리스트로 변환
phone_list = phone.split(">")
phone_list

# for문 이용하여 Dictionary에 넣기
phone_dict = {}
for p in phone_list:
  p_split = p.split()
  if len(p_split) > 0 :
    key =  p_split[0]
    value = p_split[1]
    phone_dict[key] = value
phone_dict

{'강원': '033',
 '경기': '031',
 '경남': '055',
 '경북': '054',
 '전남': '061',
 '전북': '063',
 '충남': '041',
 '충북': '043'}